<% @message = "おひさまーと☀️" %>
<h1><%= @message %></h1>
<nav class="menubar">
    <ul>
        <% if current_member %>
            <%= menu_link_to "#{current_member.name}さん", :account %>
            <%= menu_link_to "ログアウト", :session,
                    method: :delete, data: { confirm: "ログアウトしますか？" } %>
        <% end %>
        <br>
        <%= menu_link_to "TOP", :root %>
        <%= menu_link_to "商品一覧", :categories %>
        <%= menu_link_to "会員登録", :new_account unless current_member%>
        
        <%= render "shared/login_form" unless current_member %>
        <% if current_member %>
            <%= menu_link_to "カート", orders_path(cart: "cart") %>
        <% end %>
    </ul>
</nav>
